body{
    background-color: black;
}


.card1{
    height: 50%;
    width: 25%;
    margin-top: 0px;
    margin-left: 0px;
    background-color:#353a3b;
    border-radius: 3%;
    
} 
.im1{
    height: 40%;
    width: 40%;
    border-radius: 100%;
    margin-left: 25%;
    margin-right: 20%;
    margin-top: 10%;
    border: 3px solid black;

} 
.p1{
    color: white;
    margin-left: 5%;
     margin-top: 22%; 
}
 .card2{
    height: 50%;
    width: 25%;
    margin-left: 27%;
    margin-top: -17.5%;;

    background-color:#353a3b;
    border-radius: 3%;
 } 
.im2{
    height: 40%;
    width: 40%;
    border-radius: 100%;
    margin-top: 30px;
    margin-left: 80px;
    border: 3px solid black;

}
.p2{
color: white;
margin-left: 5%;
margin-top: 22%;
}
.card3{
    height: 50%;
    width: 25%;
    margin-top:-17%;
    margin-left: 53%;
    background-color:#353a3b;
    border-radius: 3%;
} 
.im3{
    height: 50%;
    width: 40%;
    border-radius: 100%;
    margin-top: 30px;
    margin-left: 80px;
    border: 3px solid black;
    
}
.p3{
color: white;
margin-left: 5%;
margin-top: 22%;
}
.card4{
    height: 50%;
    width: 25%;
    background-color: #353a3b;
    border-radius: 3%;
} 
.im4{
    height: 40%;
    width: 40%;
    border-radius: 100%;
    margin-top: 50px;
    margin-left: 80px;
    border: 3px solid black;
}
.p4{
color: white;
margin-left: 5%;
margin-top: 25%;
}
.card5{
    height: 48%;
    width: 24%;
    margin-top:-19.5%;
    margin-left:27%;
    background-color:#353a3b;
    border-radius: 3%;
 border: 3px solid black;
}
.p5{
color: white;
margin-left: 5%;
margin-top: 25%;
}
.im5{
    height: 40%;
    width: 40%;
    border-radius: 100%;
    margin-left: 80px;
    margin-top: 50px;
    border: 3px solid black;
    
}
.card6{ 
    height: 90%;
    width: 25%;
    margin-top:-18.5%;
    margin-left: 53%;
    background-color:#353a3b;
    border-radius: 3%;
}
.im6{
    height: 50%;
    width: 40%;
    border-radius: 100%;
    margin-top: 50px;
    margin-left: 80px;
    border: 3px solid black;
}

.p6{
color: white;
margin-left: 5%;
margin-top: 25%;
}
.card7{
    background-color: white;
    height: 60%;
    width: 20%;
    margin-left: 1175px;
    margin-top: -557px;
    border-radius: 2%;
}
.h1{
    color: black;
    padding-top: 35px;
    padding-left: 20px;
    font-size:xx-large;
}
.s1{
    height:50px ;
    width:auto ;
    margin-left:8px ;

}
ul{
    list-style: none;
}
li{
    margin-top: 40px;
    font-size: large;
}
.child1{
    height:40px ;
    width:40px ;
    margin-left: 30%;
    margin-top: -30px;
    border-radius: 20px;

    
}
.child2{
    height:40px ;
    width:40px ;
    margin-left: 1px;
     margin-top: -30px;
    border-radius: 20px;


}

.child3{
    height:40px ;
    width:40px ;
    margin-left: 2px;
    margin-top: -18%;
    border-radius: 20px;
    
}
.child4{
    height:40px ;
    width:40px ;
    margin-left: 2px;
    margin-top: -20%;
    border-radius:20px;
    
}
.child5{
    height:40px ;
    width:40px ;
    margin-left: 3px;
    margin-top: 2px;
    border-radius: 20px ;
    

}
.child6{
    height:40px ;
    width:40px ;
    margin-left: 3px;
    margin-top: 2px;
    border-radius: 20px;
}
